*{
    box-sizing: border-box;
    background-color: gray;
}

header{
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
    width: 50%;
}

main > div:first-child{
    height: 400px;
}

div {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    padding: 25px;
}


